[Desktop Entry]
Type=Application
Name=MakeAmerica
Exec=/home/celesteh/Dropbox/debbie/MakeAmerica.sh
StartupNotify=false
Terminal=false
Comment[en_GB]=Installation
Comment=Installation

